{% extends "base.html" %}
{% block content %}
    <h2>About Me</h2>
    <div class="card bg-secondary text-light p-4 mt-3">
        <h4>Hello, I'm Jai Kamat </h4>
        <p>-*-*-*--*-*-*--*-*-*--*-*-*--*-*-*--*-*-*--*-*-*--*-*-*-</p>
        <p>Here are a few things about me:</p>
        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item bg-secondary text-light">🎓 Interested in: Coding, machines & playing video games</li>
            <li class="list-group-item bg-secondary text-light">💡 Skills: Python, GO, Basics of (html,css,js) </li>
            <li class="list-group-item bg-secondary text-light">🚀 Goal: TO EARN LOTS OF MONEY!!! </li>
        </ul>
    </div>
{% endblock %}

